

#header {
    height: 80px;
    background-color: rgb(84, 23, 224);
    margin-top: 0;
}

#name {
    background-color: rgb(31, 241, 209);
    height: 80px;
    width: 320px;
    margin-left: 10%;
    max-height: 80px;
    overflow: hidden; /* or hidden */
    text-align: center;

}

#name {
    background-color: rgb(31, 241, 209); 
  }

#buttons {
    float: right;
}

#buttons ul {
    list-style: none; /* remove the bullets */
    margin: 0; /* remove the default margin */
    padding: 0; /* remove the default padding */
    display: flex; /* use flexbox to align the list items */
   }

   #buttons li {
    margin-left: 20px; /* create some space between the list items */
    
   }


  body {
    margin: 0;
    padding: 0;
  }
  
  header {
    margin: 0;
    padding: 0;
  }
  